[submodule "smhasher"]
	path = smhasher
	url = https://github.com/aappleby/smhasher
[submodule "RepeatScout"]
	path = RepeatScout
	url = https://github.com/mmcco/RepeatScout
[submodule "cactus"]
	path = cactus
	url = https://github.com/ComparativeGenomicsToolkit/cactus
